@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  line-height: 2rem;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  display: block;
  /* background-color:red; */
}
